/* 全局样式 */
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* 按钮样式 */
.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.2s;
    margin: 10px;
    cursor: pointer;
}

.btn-index {
    border-radius: 5px;
}

.btn:hover {
    background-color: #555;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn:active {
    background-color: #222;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* 容器样式 */
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* 顶栏样式 */
.navbar {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #333 0%, #555 100%);
    color: #fff;
    padding: 0;
}

.navbar * {
    align-self: flex-start;
}

.navbar .btn {
    display: inline-block;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.05);
    border: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.navbar .btn:hover {
    background: rgba(255, 255, 255, 0.1);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.navbar .btn:active {
    background: rgba(255, 255, 255, 0.07);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.table-container {
    height: 100%;
    overflow: auto;
    margin-top: 40px;
}

/* 悬浮窗样式 */
.suspended {
    position: absolute;
    width: 30%;
    height: 40%;
    top: 20%;
    left: 35%;
    z-index: 999;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.suspended .title {
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.suspended .content * {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.suspended.active {
    display: block;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.suspended.inactive {
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
    z-index: 998;
}

.mask.active {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    pointer-events: auto;
}

.mask.inactive {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
}
