/* 表格样式 */
table {
    border-collapse: collapse;
    width: 80%;
    margin: 50px auto;
    border: 2px solid #333;
    border-radius: 10px;
}

th,
td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #665e5e;
    color: #fff;
}

tr:nth-child(odd) {
    background-color: #f7f7f7;
}

tr:nth-child(even) {
    background-color: #d3d3d3;
}

/* 按钮样式 */
.btn-url {
    background-color: #8d8d8d;
    color: rgb(245, 252, 153);
    padding: 5px 10px;
    border-radius: 5px;
    width: 40px;
    height: 20px;
    line-height: 20px;
}
