/* 表格样式 */
table {
    border-collapse: collapse;
    width: 80%;
    margin: 50px auto;
    border: 2px solid #333;
    border-radius: 10px;
}

th,
td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #665e5e;
    color: #fff;
}

tr:nth-child(odd) {
    background-color: #f7f7f7;
}

tr:nth-child(even) {
    background-color: #d3d3d3;
}

/* 按钮样式 */
.btn {
    width: auto;
    height: auto;
    line-height: normal;
}

.btn-back {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #f1f1f1;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.btn-back:hover {
    background-color: #ddd;
}

.btn-back:active {
    background-color: #007bff;
    color: white;
}

.btn-url {
    background-color: #8d8d8d;
    color: rgb(245, 252, 153);
    padding: 5px 10px;
}